#csscritic_basichtmlreporter {
    font-family: sans-serif;
    font-size: 13px;
}

#csscritic_basichtmlreporter .comparison {
    padding: 8px;
    margin: 5px 0;
}

#csscritic_basichtmlreporter .passed.comparison {
    background-color: #00FF7F;
}

#csscritic_basichtmlreporter .failed.comparison {
    background-color: #FE3F44;
}

#csscritic_basichtmlreporter .referenceMissing.comparison {
    background-color: #FFFF73;
}

#csscritic_basichtmlreporter .error.comparison {
    background-color: #BE2F33;
}

#csscritic_basichtmlreporter .comparison .status {
    float: right;
}

#csscritic_basichtmlreporter .comparison .pageImageContainer {
    resize: both;               /* Use CSS3 native resizing */
    overflow: hidden;
    padding: 0 10px 10px 0;     /* Show the dnd handle in the bottom right corner */
}

#csscritic_basichtmlreporter .comparison .innerPageImageContainer {
    /* provides the white area that resizes together with the outer canvas container, while showing the dnd handle */
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid black;
    resize: none;
}

#csscritic_basichtmlreporter .comparison .innerPageImageContainer img {
    border: none;
}

#csscritic_basichtmlreporter .outerReferenceImageContainer,
#csscritic_basichtmlreporter .outerPageImageContainer {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}


#csscritic_basichtmlreporter .differenceCanvasContainer canvas,
#csscritic_basichtmlreporter .referenceImageContainer img {
    border: 1px solid black;
}

#csscritic_basichtmlreporter_tooltip,
#csscritic_basichtmlreporter .comparison .innerPageImageContainer,
#csscritic_basichtmlreporter .referenceImageContainer img {
    /* Provides a background image that indicates transparency in the shown image, similar to e.g. the one in gimp */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAKUlEQVQ4jWNYt27df2Lwo0ePiMIMowaOGjgsDSRWIbEWjxo4auCwNBAAenk4PB4atggAAAAASUVORK5CYII=') -5px -5px repeat;
}

#csscritic_basichtmlreporter .differenceCanvasContainer {
    margin: 8px 0 20px 0;
}

#csscritic_basichtmlreporter .saveHint button,
#csscritic_basichtmlreporter .updateHint button {
    /* reset */
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    width: auto;
    overflow: visible;

    border: 1px solid #AAAAAA;
    border-radius: 4px;
    background: #00FF7F none;
    cursor: pointer;
    margin: 0 3px;
    /* Click effect */
    padding: 1px 1px;
}

#csscritic_basichtmlreporter .saveHint button:hover,
#csscritic_basichtmlreporter .updateHint button:hover {
    background-color: #00CC66;
}

#csscritic_basichtmlreporter .saveHint button:active,
#csscritic_basichtmlreporter .updateHint button:active {
    /* Click effect */
    padding: 2px 0 0 2px;
    position: relative;
    top: 1px;
}

#csscritic_basichtmlreporter .warning:before {
    content: "⚠";
    font-size: 25px;
    padding-right: 5px;
}

#csscritic_basichtmlreporter .warning {
    margin: 8px 0;
    font-weight: bold;
}

#csscritic_basichtmlreporter .finished:before {
    content: "✓";
    font-size: 20px;
    color: #00CC66;
    padding-left: 5px;
}

#csscritic_basichtmlreporter .caption {
    font-style: italic;
    line-height: 13px;
    font-size: 12px;
}

#csscritic_basichtmlreporter .loadErrors ul {
    margin: 4px 0;
}

#csscritic_basichtmlreporter_tooltip {
    border: 1px solid black;
    max-width: 400px;
}

#csscritic_basichtmlreporter_tooltip img {
    width: 100%;
}
