#csscritic_basichtmlreporter .comparison {
    padding: 5px;
    margin: 5px;
}

#csscritic_basichtmlreporter .passed.comparison {
    background-color: #00ff00;
}

#csscritic_basichtmlreporter .failed.comparison {
    background-color: #ff0000;
}

#csscritic_basichtmlreporter .referenceMissing.comparison {
    background-color: #ffff00;
}

#csscritic_basichtmlreporter .referenceMissing.comparison .saveHint {
    font-weight: bold;
    margin: 8px 0;
}

#csscritic_basichtmlreporter .comparison .status {
    float: right;
}

#csscritic_basichtmlreporter .comparison canvas {
    border: 1px solid black;
}

#csscritic_basichtmlreporter .comparison .pageCanvas {
    resize: both;               /* Use CSS3 native resizing */
    overflow: hidden;
    padding: 0 10px 10px 0;     /* Show the dnd handle in the bottom right corner */
}

#csscritic_basichtmlreporter .comparison .pageCanvasInner {
    /* provides the white area that resizes with the outer canvas container, while showing the dnd handle */
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
    border: 1px solid black;
    resize: none;
}

#csscritic_basichtmlreporter .comparison .pageCanvasInner canvas {
    border: none;
}

#csscritic_basichtmlreporter .warning:before {
    content: "⚠";
    font-size: 25px;
    padding-right: 5px;
}
