#csscritic_basichtmlreporter {
    font-family: sans-serif;
    font-size: 13px;
}

#csscritic_basichtmlreporter .timeTaken {
    float: right;
    min-height: 1.5em;
}

/* Test result entry */

#csscritic_basichtmlreporter .comparison {
    padding: 8px;
    margin: 5px 0;
    /* don't reach into previous timeTaken */
    clear: both;

    transition: background-color 1s;
}

#csscritic_basichtmlreporter .comparison:after {
    /* contain floating status when it wraps around */
    content: "";
    display: block;
    clear: both;
}

#csscritic_basichtmlreporter .passed.comparison {
    background-color: #00FF7F;
}

#csscritic_basichtmlreporter .failed.comparison {
    background-color: #FE3F44;
}

#csscritic_basichtmlreporter .referenceMissing.comparison {
    background-color: #FFFF73;
}

#csscritic_basichtmlreporter .error.comparison {
    background-color: #BE2F33;
}

#csscritic_basichtmlreporter .comparison .pageUrl {
    color: black;
}

#csscritic_basichtmlreporter .comparison .parameters,
#csscritic_basichtmlreporter .comparison .parameters dt,
#csscritic_basichtmlreporter .comparison .parameters dd {
    /* Reset */
    display: inline-block;
    margin: 0;
}

#csscritic_basichtmlreporter .comparison .parameters {
    margin-left: 1.5em;
    color: #444;
}

#csscritic_basichtmlreporter .comparison .parameters dt {
    font-style: italic;
}

#csscritic_basichtmlreporter .comparison .parameters dt::after {
    content: ":"
}

#csscritic_basichtmlreporter .comparison .parameters dd {
    margin-left: 0.5em;
    margin-right: 0.7em;
}

#csscritic_basichtmlreporter .comparison .parameters dd::before {
    content: "'"
}

#csscritic_basichtmlreporter .comparison .parameters dd::after {
    content: "',"
}

#csscritic_basichtmlreporter .comparison .parameters dd:last-child::after {
    content: "'"
}

#csscritic_basichtmlreporter .comparison .status {
    float: right;
}

/* Pure-CSS image resizing */

#csscritic_basichtmlreporter .resizable .currentPageResizableCanvas {
    resize: both;               /* Use CSS3 native resizing */
    overflow: hidden;
    padding: 0 10px 10px 0;     /* Show the dnd handle in the bottom right corner */
}

#csscritic_basichtmlreporter .currentPageImageContainer {
    /* provides the white area that resizes together with the outer canvas container, while showing the dnd handle */
    width: 100%;
    height: 100%;
    overflow: hidden;
    resize: none;
}

/* Page rendering, reference & diff */

@media (min--moz-device-pixel-ratio: 2) {
    /* Work around https://bugzilla.mozilla.org/show_bug.cgi?id=986403 */
    #csscritic_basichtmlreporter .currentPageImageContainer img {
        width: 50%;
        -moz-transform: scale(2);
        -moz-transform-origin: 0 0;
        transform: scale(2);
        transform-origin: 0 0;
    }
}

#csscritic_basichtmlreporter .referenceSection,
#csscritic_basichtmlreporter .currentPageSection {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

#csscritic_basichtmlreporter .currentPageImageContainer,
#csscritic_basichtmlreporter .differenceCanvasContainer canvas,
#csscritic_basichtmlreporter .referenceImageContainer img {
    border: 1px solid black;
}

#csscritic_basichtmlreporter .currentPageImageContainer,
#csscritic_basichtmlreporter .referenceImageContainer img {
    /* Provides a background image that indicates transparency in the shown image, similar to e.g. the one in GIMP */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAKUlEQVQ4jWNYt27df2Lwo0ePiMIMowaOGjgsDSRWIbEWjxo4auCwNBAAenk4PB4atggAAAAASUVORK5CYII=') -5px -5px repeat;
}

#csscritic_basichtmlreporter .differenceCanvasSection {
    margin: 8px 0 20px 0;
}

#csscritic_basichtmlreporter .differenceCanvasContainer {
    display: inline-block;
}

#csscritic_basichtmlreporter .differenceCanvasContainer:hover .differenceCanvas {
    display: none;
}

#csscritic_basichtmlreporter .differenceCanvasContainer .highlightedDifferenceCanvas {
    display: none;
}

#csscritic_basichtmlreporter .differenceCanvasContainer:hover .highlightedDifferenceCanvas {
    display: block;
}

/* Hint tooltips */

#csscritic_basichtmlreporter .currentPageSection,
#csscritic_basichtmlreporter .differenceCanvasContainer {
    position: relative;
}

#csscritic_basichtmlreporter .comparison:hover .resizable.currentPageSection:after,
#csscritic_basichtmlreporter .comparison:hover .differenceCanvasContainer:after {
    /* Tooltip for difference image */
    position: absolute;
    padding: 4px;

    white-space: nowrap;
    background-color: black;
    opacity: 0.55;
    color: white;
    border-radius: 5px;
}

#csscritic_basichtmlreporter .comparison:hover .differenceCanvasContainer:after {
    /* Tooltip for difference image */
    content: "< Hover over difference image to highlight subtle changes";
    margin-right: -5px;
    top: 0;
    right: 0;
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

#csscritic_basichtmlreporter .comparison:hover .resizable.currentPageSection:after {
    content: "< Drag lower right corner to resize";
    margin-right: -5px;
    margin-bottom: 10px;
    bottom: 0;
    right: 0;
    -moz-transform: translateX(100%) translateY(100%);
    -ms-transform: translateX(100%) translateY(100%);
    -o-transform: translateX(100%) translateY(100%);
    -webkit-transform: translateX(100%) translateY(100%);
    transform: translateX(100%) translateY(100%);
}

#csscritic_basichtmlreporter .differenceCanvasContainer:hover:after {
    display: none;
}

#csscritic_basichtmlreporter .currentPageSection:hover:after {
    display: none;
}

/* Buttons & textual hints */

#csscritic_basichtmlreporter .saveHint button,
#csscritic_basichtmlreporter .updateHint button {
    /* reset */
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    width: auto;
    overflow: visible;

    border: 1px solid #AAAAAA;
    border-radius: 4px;
    background: #00FF7F none;
    cursor: pointer;
    margin: 0 3px;
    /* Click effect */
    padding: 1px 1px;
}

#csscritic_basichtmlreporter .saveHint button:hover,
#csscritic_basichtmlreporter .updateHint button:hover {
    background-color: #00CC66;
}

#csscritic_basichtmlreporter .saveHint button:active,
#csscritic_basichtmlreporter .updateHint button:active {
    /* Click effect */
    padding: 2px 0 0 2px;
    position: relative;
    top: 1px;
}

#csscritic_basichtmlreporter .saveHint:before,
#csscritic_basichtmlreporter .updateHint:before,
#csscritic_basichtmlreporter .errorMsg:before,
#csscritic_basichtmlreporter .loadErrors:before {
    content: "⚠";
    font-size: 25px;
    padding-right: 5px;
}

#csscritic_basichtmlreporter .saveHint,
#csscritic_basichtmlreporter .updateHint,
#csscritic_basichtmlreporter .errorMsg,
#csscritic_basichtmlreporter .loadErrors {
    margin: 8px 0;
    font-weight: bold;
}

#csscritic_basichtmlreporter .finished:after {
    content: "✓";
    font-size: 20px;
    color: #00CC66;
    padding-left: 5px;
}

#csscritic_basichtmlreporter .caption {
    display: block;
    font-style: italic;
    line-height: 13px;
    font-size: 12px;
}

#csscritic_basichtmlreporter .loadErrors ul {
    margin: 4px 0;
}

/* Reference image tooltip */

#csscritic_basichtmlreporter_tooltip {
    /* Provides a background image that indicates transparency in the shown image, similar to e.g. the one in GIMP */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAKUlEQVQ4jWNYt27df2Lwo0ePiMIMowaOGjgsDSRWIbEWjxo4auCwNBAAenk4PB4atggAAAAASUVORK5CYII=') -5px -5px repeat;
}

#csscritic_basichtmlreporter_tooltip {
    border: 1px solid black;
    max-width: 400px;
}

#csscritic_basichtmlreporter_tooltip img {
    width: 100%;
}

/* Warning for Chrome + Safari */

#csscritic_basichtmlreporter .browserWarning:before {
    content: "⚠";
    font-size: 25px;
    padding-right: 5px;
    vertical-align: middle;
}

#csscritic_basichtmlreporter .browserWarning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #922;
    background-color: rgba(150, 20, 30, 0.85);
    color: white;
    font-size: 120%;
    border: 2px solid black;
    padding: 20px;
}
