#csscritic_nicereporter {
    font-family: sans-serif;
}

#csscritic_nicereporter a {
    text-decoration: none;
    color: inherit;
}

#csscritic_nicereporter ul {
    list-style: none;
    padding: 0;
}

/* Header */

#csscritic_nicereporter #header {
    padding: 15px;
    transition: background-color 1s;
}

#csscritic_nicereporter #header.pass {
    background-color: #66FFCC;
}

#csscritic_nicereporter #header.fail {
    background-color: #FF9933;
}

/* Progress bar */

#csscritic_nicereporter #progressBar {
    margin: 0.4em 0;
}

#csscritic_nicereporter #progressBar li {
    display: inline-block;
    font-size: 1.8em;
    line-height: 0.5em;
    width: 0.5em;
    transition: color 1s;
}
#csscritic_nicereporter #progressBar .inprogress {
    color: grey;
}
#csscritic_nicereporter #progressBar .passed {
    color: green;
}
#csscritic_nicereporter #progressBar .failed {
    color: red;
}
#csscritic_nicereporter #progressBar .error {
    color: darkred;
}
#csscritic_nicereporter #progressBar .referenceMissing {
    color: orange;
}

/* Comparison */

#csscritic_nicereporter .comparison {
    padding: 15px;
}

#csscritic_nicereporter .comparison .title {
    font-weight: normal;
}

#csscritic_nicereporter .comparison .title a {
    vertical-align: top;
    font-size: 0.9em;
    line-height: 0.6em;
    color: #888;
}

/* Diff image */

#csscritic_nicereporter .comparison img,
#csscritic_nicereporter .comparison canvas {
    border: 1px solid black;
}

#csscritic_nicereporter .comparison .imageContainer {
    position: relative;
}

#csscritic_nicereporter .comparison .imageContainer canvas {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#csscritic_nicereporter .failed.comparison .imageContainer:hover canvas {
    opacity: 1;
    transition: opacity 1s;
}

#csscritic_nicereporter .failed.comparison .imageContainer:hover img {
    opacity: 0.5;
    transition: opacity 1s;
}
