/* Colors from http://paletton.com/#uid=7091K0kxazMlKS-qBIEv5mP-lbb */

.cssCriticNiceReporter {
    font-family: sans-serif;
    font-size: 16px;
}

.cssCriticNiceReporter a {
    text-decoration: none;
    color: inherit;
}

.cssCriticNiceReporter button {
    padding: 2px 10px;
    border-radius: 3px;
    border: none;
    background-color: rgb(0, 192, 78);

    /* Reset */
    font-size: inherit;
    font-family: inherit;
}
.cssCriticNiceReporter button[disabled] {
    background-color: #ddd;
}
.cssCriticNiceReporter button:hover {
    background-color: rgb(36, 214, 108)
}
.cssCriticNiceReporter button:not([disabled]):active {
    background-color: rgb(76, 236, 141)
}

/* Error messages */

.cssCriticNiceReporter .errorText {
    color: rgb(89, 17, 0);
    margin-bottom: 1em;
}

.cssCriticNiceReporter .errorText:not(:empty)::before {
    content: "⚠";
    color: rgb(89, 17, 0);
    font-size: 1.2rem;
    padding-right: 5px;
    vertical-align: middle;
}

.cssCriticNiceReporter .errorText ul {
    margin: 0.2em 0;
}

.cssCriticNiceReporter .errorText a {
    text-decoration: underline;
}

/* Header */

.cssCriticNiceReporter .header {
    padding: 15px;
    transition: background-color 1s;
}

.cssCriticNiceReporter .header.pass {
    background-color: rgb(0, 192, 78);
}

.cssCriticNiceReporter .header.fail {
    background-color: rgb(255, 49, 0);
}

.cssCriticNiceReporter .timeTaken {
    float: right;
    padding: 0.5em 0 0 1em;
}

.cssCriticNiceReporter .statusText {
    display: inline-block;
}

.cssCriticNiceReporter .statusText .runAll {
    display: block;
    margin-top: 0.5em;
    text-decoration: underline;
}

.cssCriticNiceReporter .acceptAll {
    display: none;
    margin: -4px 0 -4px 1em; /* Make up for border and padding to fit into the flow */
}
.cssCriticNiceReporter .acceptAll.active {
    display: inline-block;
}

.cssCriticNiceReporter .cssCriticVersion {
    font-size: 0.7rem;
}

/* Progress bar */

.cssCriticNiceReporter .progressBar {
    margin: 0.4em 0;
    list-style: none;
    padding: 0;
}

.cssCriticNiceReporter .progressBar:empty::after {
    content: '';
    width: 0;
    height: 0;
    border: 0.63rem solid;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.15;
}

.cssCriticNiceReporter .progressBar li {
    display: inline-block;
    margin-right: -0.4rem;
    transition: color 1s;
}

.cssCriticNiceReporter .progressBar a {
    width: 0;
    height: 0;
    border: 0.63rem solid;
    border-radius: 50%;
    display: block;
}

.cssCriticNiceReporter .progressBar .pending {
    color: grey;
}
.cssCriticNiceReporter .progressBar .passed {
    color: rgb(4, 131, 55);
}
.cssCriticNiceReporter .progressBar .failed {
    color: rgb(182, 39, 5);
}
.cssCriticNiceReporter .progressBar .error {
    color: rgb(89, 17, 0);
}
.cssCriticNiceReporter .progressBar .referenceMissing {
    color: rgb(255, 255, 0);
}

.cssCriticNiceReporter .progressBar a:focus {
    outline: none;
}

.cssCriticNiceReporter .progressBar .hasRenderErrors {
    position: relative;
}
.cssCriticNiceReporter .progressBar .hasRenderErrors a::after {
    content: '!';
    color: black;
    line-height: 1.26rem;
    text-align: center;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

/* Component label */

.cssCriticNiceReporter .componentLabel {
    margin: 1.8em 0 0.5em 15px;
    font-size: 1.15rem;
}
.cssCriticNiceReporter .componentLabel:hover {
    text-decoration: underline;
}

/* Comparison */

.cssCriticNiceReporter .comparison {
    background-color: rgb(245, 245, 245);
    padding: 15px;
    margin: 4px 0;
}

.cssCriticNiceReporter .comparison .title {
    font-weight: normal;
}
.cssCriticNiceReporter .comparison.fakeTarget .title,
.cssCriticNiceReporter .comparison:target .title {
    font-weight: bold;
}

.cssCriticNiceReporter .comparison .title .titleLink:hover {
    text-decoration: underline;
}

.cssCriticNiceReporter .comparison .title .externalLink {
    vertical-align: top;
    font-size: 0.8rem;
    line-height: 0.6em;
    color: #888;
    display: inline-block;
}
.cssCriticNiceReporter .comparison .title .externalLink:hover {
    transform: scale(1.1);
    transform-origin: bottom left;
}

.cssCriticNiceReporter .comparison .parameters,
.cssCriticNiceReporter .comparison .parameters dt,
.cssCriticNiceReporter .comparison .parameters dd {
    /* Reset */
    display: inline-block;
    margin: 0;
}

.cssCriticNiceReporter .comparison .parameters {
    margin-left: 1.5em;
    color: #444;
}

.cssCriticNiceReporter .comparison .parameters dt {
    font-style: italic;
}

.cssCriticNiceReporter .comparison .parameters dt::after {
    content: ":"
}

.cssCriticNiceReporter .comparison .parameters dd {
    margin-left: 0.5em;
    margin-right: 0.7em;
}

.cssCriticNiceReporter .comparison .parameters dd::after {
    content: ","
}

.cssCriticNiceReporter .comparison .parameters dd:last-child::after {
    content: ""
}

/* Images */

.cssCriticNiceReporter .running.comparison .imageContainer {
    opacity: 0.2;
}

.cssCriticNiceReporter .comparison .imageContainer:empty {
    display: none;
}

.cssCriticNiceReporter .comparison .imageWrapper {
    /* Provides a background image that indicates transparency in the shown image, similar to e.g. the one in GIMP */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAKUlEQVQ4jWNYt27df2Lwo0ePiMIMowaOGjgsDSRWIbEWjxo4auCwNBAAenk4PB4atggAAAAASUVORK5CYII=') -5px -5px repeat;
    /* Disable selection of text following the image on double click of the imageContainer */
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.cssCriticNiceReporter .comparison img,
.cssCriticNiceReporter .comparison canvas {
    display: block;
}

.cssCriticNiceReporter .comparison .imageContainer,
.cssCriticNiceReporter .comparison .changedImageContainer {
    border: 1px solid black;
}

.cssCriticNiceReporter .comparison .outerChangedImageContainer {
    margin-top: 4px;
    display: inline-block;
    position: relative;
}

.cssCriticNiceReporter .comparison .imageContainer {
    position: relative;
    display: inline-block;
}

.cssCriticNiceReporter .comparison .imageContainer .diff {
    /* display:none solution that transitions on hover - using max-{height|width} to work around issue with canvas needing CSS help to render in our own UI tests */
    max-height: 0;
    max-width: 0;
    opacity: 0;
}

.cssCriticNiceReporter .failed.comparison .imageContainer:hover .diff {
    max-height: none;
    max-width: none;
    opacity: 1;
    transition: opacity 1s;
}

.cssCriticNiceReporter .failed.comparison .imageContainer:hover .imageWrapper {
    opacity: 0.5;
    transition: opacity 1s;
    /* Display underneath transparent diff, while having the imageContainer's height auto adapt */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.cssCriticNiceReporter .comparison iframe {
    border: none;
    display: block;
    background: transparent;
}

.cssCriticNiceReporter .comparison .realView {
    border-style: dashed;
}

/* Accept */

.cssCriticNiceReporter .comparison .accept {
    vertical-align: top;

    position: absolute;
    top: 0;
    bottom: 0;
    right: -65px;
    width: 50px;

    font-size: 0.7rem;
}
.cssCriticNiceReporter .accepted.comparison .accept {
    font-size: 1.4rem;
}

.cssCriticNiceReporter .comparison button span {
    transform: rotate(-90deg);
    display: block;
}

.cssCriticNiceReporter .comparison .imageContainer {
    opacity: 1;
    max-height: 1000000px;
}

.cssCriticNiceReporter .accepted.comparison .imageContainer {
    opacity: 0;
    max-height: 0;
    border-width: 0;

    transition: max-height 0.001s ease 1s, opacity 1s, border-width 0.001s ease 1s;
}

/* Shared tooltip styles */
.cssCriticNiceReporter .comparison .imageContainer {
    position: relative;
}
.cssCriticNiceReporter .comparison:hover .imageContainer::after {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);

    margin-right: -8px;
    padding: 4px;

    white-space: nowrap;
    background-color: black;
    opacity: 0.55;
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
}

/* Tooltip for difference image */
.cssCriticNiceReporter .failed.comparison:hover .imageContainer::after {
    content: "< Hover over the reference image to highlight changes";
}
.cssCriticNiceReporter .failed.comparison .imageContainer:hover::after {
    display: none;
}

/* Tooltip for real view */
.cssCriticNiceReporter .passed.comparison .imageContainer:not(.realView):hover::after {
    content: "< Double click the image to expose the DOM of the underlying page";
}

/* Warning for Chrome + Safari */

.cssCriticNiceReporter .browserWarning::before {
    content: "⚠";
    font-size: 1.2rem;
    padding-right: 5px;
    vertical-align: middle;
}

.cssCriticNiceReporter .browserWarning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    background-color: rgba(182, 39, 5, 0.85);
    color: white;
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 20px;
}
